<h1>Burgers!</h1>

<h2>It's time to eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless uneaten}}
      {{> burgers/burger-block uneaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>You ate these!</h2>

<ul>
  {{#each burgers}}
    {{#if uneaten}}
      {{> burgers/burger-block uneaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <!--left off here-->
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
